[user]
	name = Guillaume beuzeboc
	email = guillaume.beuzeboc@stilla.fr
[alias]
    lg= log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	discard = checkout --
    set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
[push]
	default = current
[status]
    submoduleSummary = true
[diff]
    submodule = log
[merge]
    ff = no
[cola]
	spellcheck = false
	theme = flat-dark-blue
[init]
	templatedir = /home/guillaume/.git-templates
[core]
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
